<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.summithaque.generalknowledge" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/minion"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BanFirst"
            android:label="@string/title_activity_ban_first"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WorFirst"
            android:label="@string/title_activity_wor_first"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OtherFirst"
            android:label="@string/title_activity_other_first"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BanSecond"
            android:label="@string/title_activity_ban_second"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BanThird"
            android:label="@string/title_activity_ban_third"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BanFourth"
            android:label="@string/title_activity_ban_fourth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BanFifth"
            android:label="@string/title_activity_ban_fifth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BanSixth"
            android:label="@string/title_activity_ban_sixth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BanSeventh"
            android:label="@string/title_activity_ban_seventh"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BanEighth"
            android:label="@string/title_activity_ban_eighth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BanNinth"
            android:label="@string/title_activity_ban_ninth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BanTenth"
            android:label="@string/title_activity_ban_tenth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WorSec"
            android:label="@string/title_activity_wor_sec"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WorThird"
            android:label="@string/title_activity_wor_third"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WorFourth"
            android:label="@string/title_activity_wor_fourth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WorFifth"
            android:label="@string/title_activity_wor_fifth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WorSeventh"
            android:label="@string/title_activity_wor_seventh"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WorSixth"
            android:label="@string/title_activity_wor_sixth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WorEighth"
            android:label="@string/title_activity_wor_eighth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WorTenth"
            android:label="@string/title_activity_wor_tenth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WorNinth"
            android:label="@string/title_activity_wor_ninth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OtherSec"
            android:label="@string/title_activity_other_sec"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OtherThi"
            android:label="@string/title_activity_other_thi"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OtherFourth"
            android:label="@string/title_activity_other_fourth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OtherFif"
            android:label="@string/title_activity_other_fif"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OtherSixth"
            android:label="@string/title_activity_other_sixth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OtherSeventh"
            android:label="@string/title_activity_other_seventh"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OtherEighth"
            android:label="@string/title_activity_other_eighth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OtherNinth"
            android:label="@string/title_activity_other_ninth"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OtherTenth"
            android:label="@string/title_activity_other_tenth"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
